In [66]:
import pandas as pd
import numpy as np
import scipy as sp
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import Ridge, Lasso, ElasticNet, LinearRegression, RidgeCV, LassoCV, ElasticNetCV
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.preprocessing import StandardScaler

In [67]:
train = pd.read_csv('datasets/train.csv')
test = pd.read_csv('datasets/test.csv')
print(train.shape)
print(test.shape)
train.head()

(2051, 81)
(878, 80)

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice
0,109,533352170,60,RL,NaN,13517,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,130500
1,544,531379050,60,RL,43.0,11492,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,4,2009,WD,220000
2,153,535304180,20,RL,68.0,7922,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,1,2010,WD,109000
3,318,916386060,60,RL,73.0,9802,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,4,2010,WD,174000
4,255,906425045,50,RL,82.0,14235,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,138500

### Train dataset has 1 more column than Test dataset.

In [68]:
missing_column = []
for column in train.columns:
    if column not in test.columns:
        missing_column.append(column)
missing_column

['SalePrice']

### Test dataset does not have the SalePrice column.

In [69]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2051 entries, 0 to 2050
Data columns (total 81 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Id               2051 non-null   int64
 1   PID              2051 non-null   int64
 2   MS SubClass      2051 non-null   int64
 3   MS Zoning        2051 non-null   object
 4   Lot Frontage     1721 non-null   float64
 5   Lot Area         2051 non-null   int64
 6   Street           2051 non-null   object
 7   Alley            140 non-null    object
 8   Lot Shape        2051 non-null   object
 9   Land Contour     2051 non-null   object
 10  Utilities        2051 non-null   object
 11  Lot Config       2051 non-null   object
 12  Land Slope       2051 non-null   object
 13  Neighborhood     2051 non-null   object
 14  Condition 1      2051 non-null   object
 15  Condition 2      2051 non-null   object
 16  Bldg Type        2051 non-null   object
 17  House Style      2051 non-null   object
 18  Overall Qual     2051 non-null   int64
 19  Overall Cond     2051 non-null   int64
 20  Year Built       2051 non-null   int64
 21  Year Remod/Add   2051 non-null   int64
 22  Roof Style       2051 non-null   object
 23  Roof Matl        2051 non-null   object
 24  Exterior 1st     2051 non-null   object
 25  Exterior 2nd     2051 non-null   object
 26  Mas Vnr Type     2029 non-null   object
 27  Mas Vnr Area     2029 non-null   float64
 28  Exter Qual       2051 non-null   object
 29  Exter Cond       2051 non-null   object
 30  Foundation       2051 non-null   object
 31  Bsmt Qual        1996 non-null   object
 32  Bsmt Cond        1996 non-null   object
 33  Bsmt Exposure    1993 non-null   object
 34  BsmtFin Type 1   1996 non-null   object
 35  BsmtFin SF 1     2050 non-null   float64
 36  BsmtFin Type 2   1995 non-null   object
 37  BsmtFin SF 2     2050 non-null   float64
 38  Bsmt Unf SF      2050 non-null   float64
 39  Total Bsmt SF    2050 non-null   float64
 40  Heating          2051 non-null   object
 41  Heating QC       2051 non-null   object
 42  Central Air      2051 non-null   object
 43  Electrical       2051 non-null   object
 44  1st Flr SF       2051 non-null   int64
 45  2nd Flr SF       2051 non-null   int64
 46  Low Qual Fin SF  2051 non-null   int64
 47  Gr Liv Area      2051 non-null   int64
 48  Bsmt Full Bath   2049 non-null   float64
 49  Bsmt Half Bath   2049 non-null   float64
 50  Full Bath        2051 non-null   int64
 51  Half Bath        2051 non-null   int64
 52  Bedroom AbvGr    2051 non-null   int64
 53  Kitchen AbvGr    2051 non-null   int64
 54  Kitchen Qual     2051 non-null   object
 55  TotRms AbvGrd    2051 non-null   int64
 56  Functional       2051 non-null   object
 57  Fireplaces       2051 non-null   int64
 58  Fireplace Qu     1051 non-null   object
 59  Garage Type      1938 non-null   object
 60  Garage Yr Blt    1937 non-null   float64
 61  Garage Finish    1937 non-null   object
 62  Garage Cars      2050 non-null   float64
 63  Garage Area      2050 non-null   float64
 64  Garage Qual      1937 non-null   object
 65  Garage Cond      1937 non-null   object
 66  Paved Drive      2051 non-null   object
 67  Wood Deck SF     2051 non-null   int64
 68  Open Porch SF    2051 non-null   int64
 69  Enclosed Porch   2051 non-null   int64
 70  3Ssn Porch       2051 non-null   int64
 71  Screen Porch     2051 non-null   int64
 72  Pool Area        2051 non-null   int64
 73  Pool QC          9 non-null      object
 74  Fence            400 non-null    object
 75  Misc Feature     65 non-null     object
 76  Misc Val         2051 non-null   int64
 77  Mo Sold          2051 non-null   int64
 78  Yr Sold          2051 non-null   int64
 79  Sale Type        2051 non-null   object
 80  SalePrice        2051 non-null   int64
dtypes: float64(11), int64(28), object(42)
memory usage: 1.3+ MB

In [70]:
missing_df = []
for key, value in train.isnull().sum().sort_values(ascending=False).items():
    if value != 0:
        missing_row = []
        missing_row.append(key)
        missing_row.append(value)
        percentage = round(value/train.shape[0]*100,2)
        missing_row.append(percentage)
        missing_df.append(missing_row)
missing_df = pd.DataFrame(missing_df, columns = ['Feature', 'No. of missing values', 'Percentage of missing values'] )
missing_df

           Feature  No. of missing values  Percentage of missing values
0          Pool QC                   2042                         99.56
1     Misc Feature                   1986                         96.83
2            Alley                   1911                         93.17
3            Fence                   1651                         80.50
4     Fireplace Qu                   1000                         48.76
5     Lot Frontage                    330                         16.09
6    Garage Finish                    114                          5.56
7      Garage Qual                    114                          5.56
8    Garage Yr Blt                    114                          5.56
9      Garage Cond                    114                          5.56
10     Garage Type                    113                          5.51
11   Bsmt Exposure                     58                          2.83
12  BsmtFin Type 2                     56                          2.73
13  BsmtFin Type 1                     55                          2.68
14       Bsmt Cond                     55                          2.68
15       Bsmt Qual                     55                          2.68
16    Mas Vnr Area                     22                          1.07
17    Mas Vnr Type                     22                          1.07
18  Bsmt Half Bath                      2                          0.10
19  Bsmt Full Bath                      2                          0.10
20     Garage Area                      1                          0.05
21   Total Bsmt SF                      1                          0.05
22     Bsmt Unf SF                      1                          0.05
23    BsmtFin SF 2                      1                          0.05
24    BsmtFin SF 1                      1                          0.05
25     Garage Cars                      1                          0.05

## Remove Features with too many missing values

### Set threshold as 10%. If a feature has more than 10% of its values missing, remove that feature from the dataset.

In [71]:
threshold = 10
features_to_remove = []
for key, value in train.isnull().sum().sort_values(ascending=False).items():
    if round(value/train.shape[0]*100,2) >= threshold:
        features_to_remove.append(key)
features_to_remove

['Pool QC', 'Misc Feature', 'Alley', 'Fence', 'Fireplace Qu', 'Lot Frontage']

In [72]:
train = train.drop(columns = features_to_remove)
test = test.drop(columns = features_to_remove)

## Imputing Missing Values

In [73]:
missing_df = []
for key, value in train.isnull().sum().sort_values(ascending=False).items():
    if value != 0:
        missing_row = []
        missing_row.append(key)
        missing_row.append(value)
        percentage = round(value/train.shape[0]*100,2)
        missing_row.append(percentage)
        missing_df.append(missing_row)
missing_df = pd.DataFrame(missing_df, columns = ['Feature', 'No. of missing values', 'Percentage of missing values'] )
missing_df

           Feature  No. of missing values  Percentage of missing values
0    Garage Yr Blt                    114                          5.56
1    Garage Finish                    114                          5.56
2      Garage Qual                    114                          5.56
3      Garage Cond                    114                          5.56
4      Garage Type                    113                          5.51
5    Bsmt Exposure                     58                          2.83
6   BsmtFin Type 2                     56                          2.73
7        Bsmt Cond                     55                          2.68
8        Bsmt Qual                     55                          2.68
9   BsmtFin Type 1                     55                          2.68
10    Mas Vnr Area                     22                          1.07
11    Mas Vnr Type                     22                          1.07
12  Bsmt Half Bath                      2                          0.10
13  Bsmt Full Bath                      2                          0.10
14    BsmtFin SF 1                      1                          0.05
15    BsmtFin SF 2                      1                          0.05
16     Bsmt Unf SF                      1                          0.05
17     Garage Area                      1                          0.05
18     Garage Cars                      1                          0.05
19   Total Bsmt SF                      1                          0.05

## The features that have missing values are related to the Garage, Basement or Mason Veneer. Deep-dive into Garage first.

In [74]:
train['Garage Yr Blt'].value_counts(normalize=True, dropna = False)

NaN       0.055583
2005.0    0.051195
2007.0    0.040956
2006.0    0.039005
2004.0    0.035105
            ...
2207.0    0.000488
1895.0    0.000488
1918.0    0.000488
1933.0    0.000488
1919.0    0.000488
Name: Garage Yr Blt, Length: 101, dtype: float64

In [75]:
train['Garage Finish'].value_counts(normalize=True, dropna = False)

Unf    0.413944
RFn    0.282301
Fin    0.248172
NaN    0.055583
Name: Garage Finish, dtype: float64

In [76]:
train['Garage Qual'].value_counts(normalize=True, dropna = False)

TA     0.893223
NaN    0.055583
Fa     0.039980
Gd     0.008776
Ex     0.001463
Po     0.000975
Name: Garage Qual, dtype: float64

In [77]:
train['Garage Cond'].value_counts(normalize=True, dropna = False)

TA     0.910775
NaN    0.055583
Fa     0.022916
Gd     0.005851
Po     0.003901
Ex     0.000975
Name: Garage Cond, dtype: float64

In [78]:
train['Garage Type'].value_counts(normalize=True, dropna = False)

Attchd     0.591419
Detchd     0.261336
BuiltIn    0.064359
NaN        0.055095
Basment    0.013164
2Types     0.009264
CarPort    0.005363
Name: Garage Type, dtype: float64

In [79]:
train['Garage Area'].value_counts(normalize=True, dropna = False)

0.0       0.055095
440.0     0.034130
576.0     0.033642
484.0     0.025353
528.0     0.022428
            ...
752.0     0.000488
858.0     0.000488
422.0     0.000488
845.0     0.000488
1174.0    0.000488
Name: Garage Area, Length: 515, dtype: float64

In [80]:
train['Garage Cars'].value_counts(normalize=True, dropna = False)

2.0    0.553876
1.0    0.255485
3.0    0.128230
0.0    0.055095
4.0    0.006338
5.0    0.000488
NaN    0.000488
Name: Garage Cars, dtype: float64

### According to the data dictionary, houses without Garages are supposed to have the value NA under the Garage-related features. However, this value does not exist in the features. Assume that the houses with missing values have no Garages. For ordinal features, impute the missing values with NA. For continuous features, impute the missing values with 0.

In [81]:
train['Garage Yr Blt'].fillna(0, inplace = True)
train['Garage Finish'].fillna('NA', inplace = True)
train['Garage Qual'].fillna('NA', inplace = True)
train['Garage Cond'].fillna('NA', inplace = True)
train['Garage Type'].fillna('NA', inplace = True)
train['Garage Area'].fillna(0, inplace = True)
train['Garage Cars'].fillna(0, inplace = True)

### Do the same for test dataset.

In [82]:
test['Garage Yr Blt'].fillna(0, inplace = True)
test['Garage Finish'].fillna('NA', inplace = True)
test['Garage Qual'].fillna('NA', inplace = True)
test['Garage Cond'].fillna('NA', inplace = True)
test['Garage Type'].fillna('NA', inplace = True)
test['Garage Area'].fillna(0, inplace = True)
test['Garage Cars'].fillna(0, inplace = True)

### Check for features with missing values again, the Garage-related features should be gone.

In [83]:
missing_df = []
for key, value in train.isnull().sum().sort_values(ascending=False).items():
    if value != 0:
        missing_row = []
        missing_row.append(key)
        missing_row.append(value)
        percentage = round(value/train.shape[0]*100,2)
        missing_row.append(percentage)
        missing_df.append(missing_row)
missing_df = pd.DataFrame(missing_df, columns = ['Feature', 'No. of missing values', 'Percentage of missing values'] )
missing_df

           Feature  No. of missing values  Percentage of missing values
0    Bsmt Exposure                     58                          2.83
1   BsmtFin Type 2                     56                          2.73
2   BsmtFin Type 1                     55                          2.68
3        Bsmt Qual                     55                          2.68
4        Bsmt Cond                     55                          2.68
5     Mas Vnr Type                     22                          1.07
6     Mas Vnr Area                     22                          1.07
7   Bsmt Full Bath                      2                          0.10
8   Bsmt Half Bath                      2                          0.10
9    Total Bsmt SF                      1                          0.05
10    BsmtFin SF 1                      1                          0.05
11    BsmtFin SF 2                      1                          0.05
12     Bsmt Unf SF                      1                          0.05

## Next, check the Basement-related features.

In [84]:
train['Bsmt Exposure'].value_counts(normalize=True, dropna = False)

No     0.652852
Av     0.140419
Gd     0.098976
Mn     0.079473
NaN    0.028279
Name: Bsmt Exposure, dtype: float64

In [85]:
train['BsmtFin Type 2'].value_counts(normalize=True, dropna = False)

Unf    0.852755
Rec    0.039005
LwQ    0.029254
NaN    0.027304
BLQ    0.023403
ALQ    0.017065
GLQ    0.011214
Name: BsmtFin Type 2, dtype: float64

In [86]:
train['BsmtFin Type 1'].value_counts(normalize=True, dropna = False)

GLQ    0.299854
Unf    0.294003
ALQ    0.142857
BLQ    0.097513
Rec    0.089225
LwQ    0.049732
NaN    0.026816
Name: BsmtFin Type 1, dtype: float64

In [87]:
train['Bsmt Qual'].value_counts(normalize=True, dropna = False)

TA     0.432472
Gd     0.421258
Ex     0.089712
Fa     0.029254
NaN    0.026816
Po     0.000488
Name: Bsmt Qual, dtype: float64

In [88]:
train['Bsmt Cond'].value_counts(normalize=True, dropna = False)

TA     0.894198
Gd     0.043393
Fa     0.031692
NaN    0.026816
Po     0.002438
Ex     0.001463
Name: Bsmt Cond, dtype: float64

In [89]:
train['Bsmt Full Bath'].value_counts(normalize=True, dropna = False)

0.0    0.585080
1.0    0.401755
2.0    0.011214
NaN    0.000975
3.0    0.000975
Name: Bsmt Full Bath, dtype: float64

In [90]:
train['Bsmt Half Bath'].value_counts(normalize=True, dropna = False)

0.0    0.937591
1.0    0.059483
2.0    0.001950
NaN    0.000975
Name: Bsmt Half Bath, dtype: float64

In [91]:
train['Total Bsmt SF'].value_counts(normalize=True, dropna = False)

0.0       0.026329
864.0     0.024866
1040.0    0.009751
672.0     0.009751
816.0     0.008289
            ...
1129.0    0.000488
946.0     0.000488
1236.0    0.000488
2220.0    0.000488
1247.0    0.000488
Name: Total Bsmt SF, Length: 893, dtype: float64

In [92]:
train['BsmtFin SF 1'].value_counts(normalize=True, dropna = False)

0.0       0.320332
24.0      0.008289
16.0      0.004876
300.0     0.003413
384.0     0.003413
            ...
1030.0    0.000488
881.0     0.000488
536.0     0.000488
932.0     0.000488
1159.0    0.000488
Name: BsmtFin SF 1, Length: 822, dtype: float64

In [93]:
train['BsmtFin SF 2'].value_counts(normalize=True, dropna = False)

0.0       0.879083
294.0     0.002438
539.0     0.001463
72.0      0.001463
180.0     0.001463
            ...
232.0     0.000488
1393.0    0.000488
95.0      0.000488
351.0     0.000488
163.0     0.000488
Name: BsmtFin SF 2, Length: 206, dtype: float64

In [94]:
train['Bsmt Unf SF'].value_counts(normalize=True, dropna = False)

0.0       0.080449
384.0     0.006826
672.0     0.005363
728.0     0.004876
816.0     0.004388
            ...
976.0     0.000488
1066.0    0.000488
2336.0    0.000488
1324.0    0.000488
1211.0    0.000488
Name: Bsmt Unf SF, Length: 968, dtype: float64

## Similar findings as Garage, the features that are supposed to have the NA value for no Basements are missing. Assume houses with missing values have no Basement. For the ordinal features, fill missing values with NA. For the continuous features, fill missing values with 0.

In [95]:
train['Bsmt Exposure'].fillna('NA', inplace = True)
train['BsmtFin Type 2'].fillna('NA', inplace = True)
train['BsmtFin Type 1'].fillna('NA', inplace = True)
train['Bsmt Qual'].fillna('NA', inplace = True)
train['Bsmt Cond'].fillna('NA', inplace = True)

In [96]:
train['Bsmt Full Bath'].fillna(0, inplace = True)
train['Bsmt Half Bath'].fillna(0, inplace = True)
train['Total Bsmt SF'].fillna(0, inplace = True)
train['BsmtFin SF 1'].fillna(0, inplace = True)
train['BsmtFin SF 2'].fillna(0, inplace = True)
train['Bsmt Unf SF'].fillna(0, inplace = True)

### Do the same for test dataset.

In [97]:
test['Bsmt Exposure'].fillna('NA', inplace = True)
test['BsmtFin Type 2'].fillna('NA', inplace = True)
test['BsmtFin Type 1'].fillna('NA', inplace = True)
test['Bsmt Qual'].fillna('NA', inplace = True)
test['Bsmt Cond'].fillna('NA', inplace = True)

In [98]:
test['Bsmt Full Bath'].fillna(0, inplace = True)
test['Bsmt Half Bath'].fillna(0, inplace = True)
test['Total Bsmt SF'].fillna(0, inplace = True)
test['BsmtFin SF 1'].fillna(0, inplace = True)
test['BsmtFin SF 2'].fillna(0, inplace = True)
test['Bsmt Unf SF'].fillna(0, inplace = True)

### Check for features with missing values again, only the Mason Veneer related features should be left.

In [99]:
missing_df = []
for key, value in train.isnull().sum().sort_values(ascending=False).items():
    if value != 0:
        missing_row = []
        missing_row.append(key)
        missing_row.append(value)
        percentage = round(value/train.shape[0]*100,2)
        missing_row.append(percentage)
        missing_df.append(missing_row)
missing_df = pd.DataFrame(missing_df, columns = ['Feature', 'No. of missing values', 'Percentage of missing values'] )
missing_df

        Feature  No. of missing values  Percentage of missing values
0  Mas Vnr Type                     22                          1.07
1  Mas Vnr Area                     22                          1.07

### Only features related to the Masonry Veneer are left.

In [100]:
train['Mas Vnr Type'].value_counts(normalize=True, dropna = False)

None       0.593857
BrkFace    0.307167
Stone      0.081911
NaN        0.010726
BrkCmn     0.006338
Name: Mas Vnr Type, dtype: float64

In [101]:
train['Mas Vnr Area'].value_counts(normalize=True, dropna = False)

0.0      0.592882
NaN      0.010726
120.0    0.005363
176.0    0.004876
200.0    0.004876
           ...
327.0    0.000488
692.0    0.000488
664.0    0.000488
114.0    0.000488
428.0    0.000488
Name: Mas Vnr Area, Length: 374, dtype: float64

### Seeing as 60% of houses have no Mason Veneer and only 1% of the values are missing, assume the missing values have no Mason Veneer. Hence, the missing values for the Mason Veneer Area will be 0.

In [102]:
train['Mas Vnr Type'].fillna('None', inplace = True)
train['Mas Vnr Area'].fillna(0, inplace = True)

### Do the same for the test dataset.

In [103]:
test['Mas Vnr Type'].fillna('None', inplace = True)
test['Mas Vnr Area'].fillna(0, inplace = True)

### Check that there are no more features with missing values.

In [104]:
missing_df = []
for key, value in train.isnull().sum().sort_values(ascending=False).items():
    if value != 0:
        missing_row = []
        missing_row.append(key)
        missing_row.append(value)
        percentage = round(value/train.shape[0]*100,2)
        missing_row.append(percentage)
        missing_df.append(missing_row)
missing_df = pd.DataFrame(missing_df, columns = ['Feature', 'No. of missing values', 'Percentage of missing values'] )
missing_df

Empty DataFrame
Columns: [Feature, No. of missing values, Percentage of missing values]
Index: []

## Converting ordinal features to numbers

In [105]:
non_numeric_train = train.select_dtypes(include = ['object'])
non_numeric_train.head()

,MS Zoning,Street,Lot Shape,Land Contour,Utilities,Lot Config,Land Slope,Neighborhood,Condition 1,Condition 2,...,Central Air,Electrical,Kitchen Qual,Functional,Garage Type,Garage Finish,Garage Qual,Garage Cond,Paved Drive,Sale Type
0,RL,Pave,IR1,Lvl,AllPub,CulDSac,Gtl,Sawyer,RRAe,Norm,...,Y,SBrkr,Gd,Typ,Attchd,RFn,TA,TA,Y,WD
1,RL,Pave,IR1,Lvl,AllPub,CulDSac,Gtl,SawyerW,Norm,Norm,...,Y,SBrkr,Gd,Typ,Attchd,RFn,TA,TA,Y,WD
2,RL,Pave,Reg,Lvl,AllPub,Inside,Gtl,NAmes,Norm,Norm,...,Y,SBrkr,Gd,Typ,Detchd,Unf,TA,TA,Y,WD
3,RL,Pave,Reg,Lvl,AllPub,Inside,Gtl,Timber,Norm,Norm,...,Y,SBrkr,TA,Typ,BuiltIn,Fin,TA,TA,Y,WD
4,RL,Pave,IR1,Lvl,AllPub,Inside,Gtl,SawyerW,Norm,Norm,...,Y,SBrkr,TA,Typ,Detchd,Unf,TA,TA,N,WD

In [106]:
non_numeric_train.columns

Index(['MS Zoning', 'Street', 'Lot Shape', 'Land Contour', 'Utilities',
       'Lot Config', 'Land Slope', 'Neighborhood', 'Condition 1',
       'Condition 2', 'Bldg Type', 'House Style', 'Roof Style', 'Roof Matl',
       'Exterior 1st', 'Exterior 2nd', 'Mas Vnr Type', 'Exter Qual',
       'Exter Cond', 'Foundation', 'Bsmt Qual', 'Bsmt Cond', 'Bsmt Exposure',
       'BsmtFin Type 1', 'BsmtFin Type 2', 'Heating', 'Heating QC',
       'Central Air', 'Electrical', 'Kitchen Qual', 'Functional',
       'Garage Type', 'Garage Finish', 'Garage Qual', 'Garage Cond',
       'Paved Drive', 'Sale Type'],
      dtype='object')

### From the non-numeric features, identify the ordinal features based on the data dictionary and convert them to numbers

In [107]:
train['Utilities'] = train['Utilities'].map({'ELO':0,'NoSeWa':1,'NoSewr':2,'AllPub':3})
train['Land Slope'] = train['Land Slope'].map({'Sev':0,'Mod':1,'Gtl':2})
train['Overall Qual'] = train['Overall Qual'].map({1:0,2:1,3:2,4:3,5:4,6:5,7:6,8:7,9:8,10:9})
train['Overall Cond'] = train['Overall Cond'].map({1:0,2:1,3:2,4:3,5:4,6:5,7:6,8:7,9:8,10:9})
train['Exter Qual'] = train['Exter Qual'].map({'Po':0, 'Fa':1, 'TA':2, 'Gd':3, 'Ex':4})
train['Exter Cond'] = train['Exter Cond'].map({'Po':0, 'Fa':1, 'TA':2, 'Gd':3, 'Ex':4})
train['Bsmt Qual'] = train['Bsmt Qual'].map({'NA':0,'Po':1, 'Fa':2, 'TA':3, 'Gd':4, 'Ex':5})
train['Bsmt Cond'] = train['Bsmt Cond'].map({'NA':0,'Po':1, 'Fa':2, 'TA':3, 'Gd':4, 'Ex':5})
train['Bsmt Exposure'] = train['Bsmt Exposure'].map({'NA':0,'No':1, 'Mn':2, 'Av':3, 'Gd':4})
train['BsmtFin Type 1'] = train['BsmtFin Type 1'].map({'NA':0,'Unf':1, 'LwQ':2, 'Rec':3, 'BLQ':4, 'ALQ':5, 'GLQ':6})
train['BsmtFin Type 2'] = train['BsmtFin Type 2'].map({'NA':0,'Unf':1, 'LwQ':2, 'Rec':3, 'BLQ':4, 'ALQ':5, 'GLQ':6})
train['Heating QC'] = train['Heating QC'].map({'Po':0, 'Fa':1, 'TA':2, 'Gd':3, 'Ex':4})                  
train['Kitchen Qual'] = train['Kitchen Qual'].map({'Po':0, 'Fa':1, 'TA':2, 'Gd':3, 'Ex':4})               
train['Functional'] = train['Functional'].map({'Sal':0, 'Sev':1, 'Maj2':2, 'Maj1':3, 'Mod':4, 'Min2':5, 'Min1':6, 'Typ':7}) 
train['Garage Finish'] = train['Garage Finish'].map({'NA':0,'Unf':1, 'RFn':2, 'Fin':3})
train['Garage Qual'] = train['Garage Qual'].map({'NA':0,'Po':1, 'Fa':2, 'TA':3, 'Gd':4, 'Ex':5}) 
train['Garage Cond'] = train['Garage Cond'].map({'NA':0,'Po':1, 'Fa':2, 'TA':3, 'Gd':4, 'Ex':5}) 
train['Paved Drive'] = train['Paved Drive'].map({'N':0,'P':1, 'Y':2})

### Do the same for test dataset.

In [108]:
test['Utilities'] = test['Utilities'].map({'ELO':0,'NoSeWa':1,'NoSewr':2,'AllPub':3})
test['Land Slope'] = test['Land Slope'].map({'Sev':0,'Mod':1,'Gtl':2})
test['Overall Qual'] = test['Overall Qual'].map({1:0,2:1,3:2,4:3,5:4,6:5,7:6,8:7,9:8,10:9})
test['Overall Cond'] = test['Overall Cond'].map({1:0,2:1,3:2,4:3,5:4,6:5,7:6,8:7,9:8,10:9})
test['Exter Qual'] = test['Exter Qual'].map({'Po':0, 'Fa':1, 'TA':2, 'Gd':3, 'Ex':4})
test['Exter Cond'] = test['Exter Cond'].map({'Po':0, 'Fa':1, 'TA':2, 'Gd':3, 'Ex':4})
test['Bsmt Qual'] = test['Bsmt Qual'].map({'NA':0,'Po':1, 'Fa':2, 'TA':3, 'Gd':4, 'Ex':5})
test['Bsmt Cond'] = test['Bsmt Cond'].map({'NA':0,'Po':1, 'Fa':2, 'TA':3, 'Gd':4, 'Ex':5})
test['Bsmt Exposure'] = test['Bsmt Exposure'].map({'NA':0,'No':1, 'Mn':2, 'Av':3, 'Gd':4})
test['BsmtFin Type 1'] = test['BsmtFin Type 1'].map({'NA':0,'Unf':1, 'LwQ':2, 'Rec':3, 'BLQ':4, 'ALQ':5, 'GLQ':6})
test['BsmtFin Type 2'] = test['BsmtFin Type 2'].map({'NA':0,'Unf':1, 'LwQ':2, 'Rec':3, 'BLQ':4, 'ALQ':5, 'GLQ':6})
test['Heating QC'] = test['Heating QC'].map({'Po':0, 'Fa':1, 'TA':2, 'Gd':3, 'Ex':4})                  
test['Kitchen Qual'] = test['Kitchen Qual'].map({'Po':0, 'Fa':1, 'TA':2, 'Gd':3, 'Ex':4})               
test['Functional'] = test['Functional'].map({'Sal':0, 'Sev':1, 'Maj2':2, 'Maj1':3, 'Mod':4, 'Min2':5, 'Min1':6, 'Typ':7}) 
test['Garage Finish'] = test['Garage Finish'].map({'NA':0,'Unf':1, 'RFn':2, 'Fin':3})
test['Garage Qual'] = test['Garage Qual'].map({'NA':0,'Po':1, 'Fa':2, 'TA':3, 'Gd':4, 'Ex':5}) 
test['Garage Cond'] = test['Garage Cond'].map({'NA':0,'Po':1, 'Fa':2, 'TA':3, 'Gd':4, 'Ex':5}) 
test['Paved Drive'] = test['Paved Drive'].map({'N':0,'P':1, 'Y':2})

### In the data dictionary, there are 2 non-ordinal features where there are only 2 options. They are "Street" and "Central Air". For these 2 features, 1 option is clearly superior to the other. 

### For "Street", "Paved" is better than "Gravel". For "Central Air", having it is better than not having it.

### Convert the values for these 2 features into numbers.

In [109]:
#train['Street'] = train['Street'].map({'Grvl':0,'Pave':1}) 
#train['Central Air'] = train['Central Air'].map({'N':0,'Y':1})

### Do the same for test dataset.

In [110]:
#test['Street'] = test['Street'].map({'Grvl':0,'Pave':1}) 
#test['Central Air'] = test['Central Air'].map({'N':0,'Y':1})

### Check test dataset

In [111]:
test.isnull().sum().sort_values(ascending = False)

Electrical        1
Id                0
Bsmt Half Bath    0
TotRms AbvGrd     0
Kitchen Qual      0
                 ..
Mas Vnr Type      0
Exterior 2nd      0
Exterior 1st      0
Roof Matl         0
Sale Type         0
Length: 74, dtype: int64

In [112]:
test['Electrical'].value_counts(normalize=True, dropna = False)

SBrkr    0.925968
FuseA    0.054670
FuseF    0.017084
NaN      0.001139
FuseP    0.001139
Name: Electrical, dtype: float64

### Fill the 1 missing 'Electrical' value with the most common value 'SBrkr'.

In [113]:
test['Electrical'].fillna('SBrkr', inplace = True)

In [114]:
test.isnull().sum().sort_values(ascending = False)

Id               0
Fireplaces       0
TotRms AbvGrd    0
Kitchen Qual     0
Kitchen AbvGr    0
                ..
Mas Vnr Type     0
Exterior 2nd     0
Exterior 1st     0
Roof Matl        0
Sale Type        0
Length: 74, dtype: int64

### No more missing value in test dataset.

# Exploratory Data Analysis

## Visualizing numeric data first

In [115]:
train_numeric = train._get_numeric_data()
train_numeric.head()

,Id,PID,MS SubClass,Lot Area,Utilities,Land Slope,Overall Qual,Overall Cond,Year Built,Year Remod/Add,...,Wood Deck SF,Open Porch SF,Enclosed Porch,3Ssn Porch,Screen Porch,Pool Area,Misc Val,Mo Sold,Yr Sold,SalePrice
0,109,533352170,60,13517,3,2,5,7,1976,2005,...,0,44,0,0,0,0,0,3,2010,130500
1,544,531379050,60,11492,3,2,6,4,1996,1997,...,0,74,0,0,0,0,0,4,2009,220000
2,153,535304180,20,7922,3,2,4,6,1953,2007,...,0,52,0,0,0,0,0,1,2010,109000
3,318,916386060,60,9802,3,2,4,4,2006,2007,...,100,0,0,0,0,0,0,4,2010,174000
4,255,906425045,50,14235,3,2,5,7,1900,1993,...,0,59,0,0,0,0,0,3,2010,138500

In [ ]:
plt.figure(figsize = (20,20))
corr = train_numeric.corr()
mask = np.zeros_like(corr)
mask[np.triu_indices_from(mask)] = True
with sns.axes_style('white'):
    sns.heatmap(corr, mask = mask, square = True, annot = True, vmin = -1, vmax = 1, linewidth = .5, cmap = 'coolwarm')

In [ ]:
p_val = train_numeric.corr()['SalePrice'].sort_values(ascending = False)
p_val_high = p_val[(p_val >= 0.5) & (p_val < 1)]
p_val_high.to_frame()

### Sale Price has significant correlation with the above features.

### Check collinearity between features. Define high collinearity as 70% and above.

In [ ]:
for column in train_numeric.columns:
    if column != 'SalePrice':
        p_val = train_numeric.corr()[column].sort_values(ascending = False)
        p_val_high = p_val[(p_val >= 0.7) & (p_val < 1)]
        if p_val_high.empty == False:
            print ('------------------------------------\n')
            print (p_val_high.to_frame())

### From the groups of features that have high correlation with each other, eliminate features until 1 is left in each group:
1. Exter Qual and Overall Qual
    1. Remove Exter Qual as Overall Qual has a wider spread of values
1. BsmtFin Type 2 and BsmtFin SF 2
    1. Remove BsmtFin Type 2 as BsmtFin SF 2 has a wider spread of values
2. Total Bsmt SF and 1st Flr SF
    1. Remove Total Bsmt SF as not all houses have a basement but all houses have a 1st floor
3. TotRms AbvGrd and Gr Liv Area
    1. Remove TotRms AbvGrd as Gr Liv Area has a wider spread of values
4. Garage Area and Garage Cars
    1. Remove Garage Cars as Garage Area has a wider spread of values
5. Garage Yr Blt, Garage Cond and Garage Qual
    1. Remove Garage Yr Blt as it is a feature that is not actionable
    2. Remove Garage Cond as it has a higher correlation to Garage Yr Blt than Garage Qual

In [ ]:
#train = train.drop(columns = ['Exter Qual', 'BsmtFin Type 2', 'Total Bsmt SF','Garage Yr Blt', 'Garage Cond','TotRms AbvGrd','Garage Cars'])
#test = test.drop(columns = ['Exter Qual', 'BsmtFin Type 2', 'Total Bsmt SF','Garage Yr Blt', 'Garage Cond','TotRms AbvGrd','Garage Cars'])

## Remove outliers

### Check the distribution of SalePrice to determine the method to use for outlier removal

In [ ]:
train['SalePrice'].describe()

In [ ]:
plt.hist(train['SalePrice'])
plt.title('Train Dataset Sale Price Distribution')
plt.xlabel('USD')
plt.ylabel('Number of Houses')

### Sale Price is skewed and not normally distributed. Use the IQR method to identify and remove outliers.

train_iqr = sp.stats.iqr(train['SalePrice'])
train = train[(train['SalePrice'] >= (train['SalePrice'].quantile(q=0.25) - train_iqr*1.5)) & (train['SalePrice'] <= (train['SalePrice'].quantile(q=0.75) + train_iqr*1.5))]
train.shape

### Select only the features with continuous values to check for outliers.

In [ ]:
outlier_columns = train[['SalePrice', 'Lot Area', 'Mas Vnr Area', 'BsmtFin SF 1', 'BsmtFin SF 2', 'Bsmt Unf SF', '1st Flr SF', '2nd Flr SF', 'Low Qual Fin SF', 'Gr Liv Area', 'Garage Area', 'Wood Deck SF', 'Open Porch SF', 'Enclosed Porch', '3Ssn Porch', 'Screen Porch', 'Pool Area', 'Misc Val']]

In [ ]:
plt.figure(figsize = (10,60)) 
position = 1
for column in outlier_columns.columns:
    plt.subplot(18,1,position)
    sns.histplot(data = train[column])
    position += 1
plt.show()

In [ ]:
train['SalePrice'] = train['SalePrice'].apply(np.log1p)
train['Lot Area'] = train['Lot Area'].apply(np.log1p)

train.head()

### Do the same for test dataset.

In [ ]:
test['Lot Area'] = test['Lot Area'].apply(np.log1p)

test.head()

In [ ]:
plt.figure(figsize = (10,60)) 
position = 1
for column in outlier_columns.columns:
    plt.subplot(18,1,position)
    sns.scatterplot(x = column, y = 'SalePrice', data = train)
    position += 1
plt.show()

In [ ]:
train = train[train['SalePrice'] > 10.5]
train = train[train['Lot Area'] < 11]
train = train[train['Mas Vnr Area'] < 1000]
train = train[train['BsmtFin SF 1'] < 2000]
train = train[train['BsmtFin SF 2'] < 1200]
train = train[train['Bsmt Unf SF'] < 2000]
train = train[train['1st Flr SF'] < 3000]
train = train[train['2nd Flr SF'] < 1500]
train = train[train['Gr Liv Area'] < 4000]
train = train[train['Garage Area'] < 1000]
train = train[train['Wood Deck SF'] < 600]
train = train[train['Open Porch SF'] < 400]
train = train[train['Enclosed Porch'] < 300]
train = train[train['Screen Porch'] < 300]

In [ ]:
plt.figure(figsize = (10,60)) 
position = 1
for column in outlier_columns.columns:
    plt.subplot(18,1,position)
    sns.scatterplot(x = column, y = 'SalePrice', data = train)
    position += 1
plt.show()

### Next, visualize categorical features using Box Plots.

In [ ]:
train_cat = train.select_dtypes(include = ['object'])
train_cat.columns

In [ ]:
plt.figure(figsize = (30,60)) 
position = 1
for column in train_cat.columns:
    plt.subplot(12,2,position)
    sns.boxplot(x = column, y = 'SalePrice', data = train)
    position += 1
plt.show()

## Convert Categorical values into numbers using One-hot Encoding

In [ ]:
train = pd.get_dummies(data=train,columns=train_cat.columns,drop_first=True)

## Do the same for test dataset.

In [ ]:
test = pd.get_dummies(data=test,columns=train_cat.columns,drop_first=True)

In [ ]:
train.shape

In [ ]:
test.shape

### The get dummies method creates a new column for each unique value in the chosen columns. As the train and test datasets have different unique values in the chosen columns, the resulting number of columns for each dataset is different. To facilitate the training and testing of the data models in the following steps, other than SalePrice, the train and test datasets must have the same columns.

In [ ]:
missing_columns_test = []
for column in train.columns:
    if column not in test.columns:
        if column != 'SalePrice':
            missing_columns_test.append(column)
missing_columns_test

### Excluding SalePrice, the list above shows all the columns that are in the train dataset but not the test dataset. These columns should be added to the test dataset with values as 0.

In [ ]:
for column in missing_columns_test:
    test[column] = 0
test.shape

### Check for the reverse. Add columns that are in the test dataset and not the train dataset. Add these columns to the train dataset.

In [ ]:
missing_columns_train = []
for column in test.columns:
    if column not in train.columns:
        missing_columns_train.append(column)
missing_columns_train

In [ ]:
for column in missing_columns_train:
    train[column] = 0
train.shape

### Except SalePrice, both train and test datasets now have the same columns.

# Data Modeling

In [ ]:
X = train.drop(columns = 'SalePrice')
y = train['SalePrice']
ss = StandardScaler()
X_ss = ss.fit_transform(X)

### Linear Regression

In [ ]:
lr = LinearRegression()
lr_scores = cross_val_score(lr, X_ss, y, cv=5)
print(lr_scores)
print(lr_scores.mean())

### Linear Regression model for this dataset has resulted in a negative R2 score. The model is inaccurate.

### Try a Ridge model instead.

In [ ]:
ridge_alphas = np.logspace(0, 5, 200)

optimal_ridge = RidgeCV(alphas=ridge_alphas, cv=5)
optimal_ridge.fit(X_ss, y)

print (optimal_ridge.alpha_)

In [ ]:
ridge = Ridge(alpha=optimal_ridge.alpha_)

ridge_scores = cross_val_score(ridge, X_ss, y, cv=5)

print(ridge_scores)
print(ridge_scores.mean())

### Ridge model is performing quite well with a R2 score of 0.926.

### Try a Lasso model next.

In [ ]:
optimal_lasso = LassoCV(n_alphas=500, cv=5, verbose=1)
optimal_lasso.fit(X_ss, y)

print (optimal_lasso.alpha_)

In [ ]:
lasso = Lasso(alpha=optimal_lasso.alpha_)

lasso_scores = cross_val_score(lasso, X_ss, y, cv=5)

print(lasso_scores)
print(lasso_scores.mean())

### Lasso is the best performing model so far with a R2 score of 0.928, followed closely by Ridge. Linear Regression is inaccurate.
### Try ElasticNet model next.

In [ ]:
l1_ratios = np.linspace(0.01, 1.0, 25)

optimal_enet = ElasticNetCV(l1_ratio=l1_ratios, n_alphas=100, cv=5,
                            verbose=1)
optimal_enet.fit(X_ss, y)

print (optimal_enet.alpha_)
print (optimal_enet.l1_ratio_)

In [ ]:
enet = ElasticNet(alpha=optimal_enet.alpha_, l1_ratio=optimal_enet.l1_ratio_)

enet_scores = cross_val_score(enet, X_ss, y, cv=5)

print (enet_scores)
print (np.mean(enet_scores))

### With the optimal l1 ratio as 1, ElasticNet confirms that rather than a mixture between Ridge and Lasso, a full Lasso model performs better.

### Check Lasso's coefficients to find important features.

In [ ]:
lasso.fit(X_ss, y)
lasso_coefs = pd.DataFrame({'variable':X.columns,
                            'coef':lasso.coef_,
                            'abs_coef':np.abs(lasso.coef_)})

lasso_coefs.sort_values('abs_coef', inplace=True, ascending=False)

lasso_coefs.head(20)

### Gr Liv Area is the most important feature, followed by Overall Qual.

In [ ]:
print ('Percent variables zeroed out:', np.sum((lasso.coef_ == 0))/float(X_ss.shape[1]))

### More than 33% of the features were zero'd out by the Lasso model.

## Submission to Kaggle

### Train the best performing model (Lasso) using the entire train dataset.

In [ ]:
lasso = Lasso(alpha=optimal_lasso.alpha_)
lasso = lasso.fit(X_ss, y)
test_ss = ss.transform(test)
lasso_preds = lasso.predict(test_ss)
lasso_preds = np.exp(lasso_preds)
preds = list(zip(test['Id'],lasso_preds))
preds_df = pd.DataFrame(preds, columns = ['Id', 'SalePrice'] )
preds_df.head()

### Export predictions to csv file for submission

In [ ]:
preds_df.to_csv('project_2_submission.csv', index = False)